---
import SkillBoxes from "./AllSkills.svelte";
---

<section id="skills">
  <div
    class="px-4 py-6 -mx-4 bg-slate-900/90 backdrop-blur-sm sticky top-0 z-10 xl:hidden"
  >
    <h2 class="font-medium tracking-wide">SKILLS</h2>
  </div>

  <SkillBoxes client:load />
</section>
