<section id="about" class="space-y-4">
  <div
    class="px-4 py-6 -mx-4 bg-slate-900/90 backdrop-blur-sm sticky top-0 xl:hidden"
  >
    <h2 class="font-medium tracking-wide">ABOUT</h2>
  </div>
  <p class="font-light">
    My first taste for coding and web development was on Visual Basic and HTML
    during a random computer class. Soon after I started exploring different
    languages and fell into the hole that is web development.
    <br /><br />
    Today, I am taking up a Master's Degree in Computer Science and have recently
    created a system to get data from a game and visualize that data depending on
    the current event for esports - similar to sports broadcasts. I love building
    things that solve problems, even for the nichest of areas.
    <br /><br />
    While I'm not VSCode, you can find me playing badminton, reading, listening to
    music, or screaming and laughing with my friends on the many different games
    we play.
  </p>
</section>
