---
import ContactIcons from "./ContactIcons.astro";
---

<div class="flex flex-col divide-y-2 mb-4">
  <div class="flex justify-between py-2">
    <h2 class="font-extrabold text-xl tracking-tight">JJ Laguer</h2>
    <ContactIcons />
  </div>
  <div class="py-2">
    <p class="font-extralight text-xs">
      Inspired by Brittany Chiang and mahamsaleem2. Designed in Figma and coded
      in VS Code by JJ (me :>). Built with Astro.js and Tailwind CSS. Text is
      set with the Inter Font Family.
    </p>
  </div>
</div>
