---
import ContactIcons from "./ContactIcons.astro";
import Headers from "@components/main/Hero/Headers.svelte";
---

<header id="hero">
  <div
    class="flex flex-col gap-8 py-20 xl:sticky xl:top-0 xl:justify-between xl:gap-0 xl:h-[100dvh]"
  >
    <div id="professional-summary" class="flex flex-col gap-2">
      <h1 class="font-extrabold text-4xl tracking-tight">
        Jan Jozef R. Laguer
      </h1>
      <h2 class="text-xl tracking-tight font-medium">Software Engineer</h2>
      <p>Developing simple ideas into digital experiences</p>
    </div>
    <Headers client:only="svelte" />
    <ContactIcons loading="eager" />
  </div>
</header>
