---
// note on margins for each layout
// default = mobile : margins = 12
// md+ = tablet : margins = 32
// xl+ = desktop : container size = 1280px
---

<html data-theme="night" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="max-w-screen-xl mx-3 md:mx-8 xl:mx-auto pt-10 flex flex-col justify-between min-h-screen"
  >
    <main class="flex flex-col gap-16">
      <header id="hero">Hero</header>
      <div class="flex flex-col gap-8">
        <section id="about">About</section>
        <section id="skills">Skills</section>
        <section id="experiences">Experiences</section>
        <section id="projects">Projects</section>
        <section id="blog">Blog</section>
      </div>
    </main>
    <footer>Footer</footer>
  </body>
</html>
