---
// note on margins for each layout
// default = mobile : margins = 12 / gutter 12
// md+ = tablet : margins = 32 / 16
// xl+ = desktop : container size = 1280px / 20

import "@fontsource-variable/inter";
import Hero from "@components/main/Hero.astro";
import About from "@components/main/About.astro";
import Skills from "@components/main/Skills/Skills.astro";
import Experiences from "@components/main/Experience/Experiences.astro";
import Projects from "@components/main/Projects/Projects.astro";
import Blog from "@components/main/Blog/Blog.astro";
import Footer from "@components/main/Footer.astro";
---

<html data-theme="night" lang="en" class="scroll-smooth scroll-pt-10">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jan Jozef R. Laguer</title>
  </head>
  <body
    class="max-w-[1240px] mx-4 md:mx-8 xl:mx-auto antialiased overflow-x-hidden"
  >
    <main class="flex flex-col relative xl:grid xl:grid-cols-2 gap-16">
      <Hero />
      <div class="flex flex-col gap-8 xl:gap-32 xl:my-16">
        <About />
        <Skills />
        <Experiences />
        <Projects />
        <Blog />
        <Footer />
      </div>
    </main>
  </body>
</html>
