---
// note on margins for each layout
// default = mobile : margins = 12 / gutter 12
// md+ = tablet : margins = 32 / 16
// xl+ = desktop : container size = 1280px / 20

import "@fontsource-variable/inter";
import Hero from "@components/main/Hero.astro";
import About from "@components/main/About.astro";
import Skills from "@components/main/Skills/Skills.astro";
import Experiences from "@components/main/Experience/Experiences.astro";
import Projects from "@components/main/Projects/Projects.astro";
---

<html data-theme="night" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class="max-w-screen-xl mx-4 md:mx-8 xl:mx-auto pt-10 flex flex-col justify-between min-h-screen antialiased"
  >
    <main class="flex flex-col gap-16">
      <Hero />
      <div class="flex flex-col gap-8">
        <About />
        <Skills />
        <Experiences />
        <Projects />
        <section id="blog">Blog</section>
      </div>
    </main>
    <footer>Footer</footer>
  </body>
</html>
